nav{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.nav-link{
    font-weight: 500 !important;
    transition: all ease-out 0.5s;
    height: 20%;
}
.nav-link:hover{
color: var(--main-color) !important;
}